* {
  text-align: center;
  font-family: sans-serif;
  font-weight: bold;
}

fieldset {
  margin: 0 auto;
}

#flex-box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
  padding: 5px;
  height: 100vh;
}

#id,
#pw {
  text-align: left;
  font-size: 20px;
  border-radius: 5px;
  font-weight: normal;
  display: block;
}

button {
  width: 100%;
  border: 1px solid;
  border-radius: 5px;
  color: white;
}
#b1 {
  background: #ea4035;
}
#b2 {
  background: #2db400;
}
a {
  color: white;
  text-decoration-line: none;
}

table {
  display: flex;
  justify-content: center;
}

#box {
  background: black;
  border: 1px solid;
  color: white;
  border-radius: 5px;
}

div {
  margin: 5px;
  padding: 5px;
}

#error {
  color: red;
  font-size: 10px;
}
